[defaults]
inventory = hosts.ini
vault_password_file = .vault_key
host_key_checking = False
# Use the built-in default callback
stdout_callback = ansible.builtin.default
# Tell the default callback to format results as YAML
result_format = yaml


[ssh_connection]
# Speed optimization for Fedora/Linux users
pipelining = True
